spring:
  profiles:
    active: local
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true

server:
    port: 8080
    servlet:
      contextPath: /buynow/api/v1

security:
  jwt:
    secret: ovVBYAe9BR1e6pMD6SM4rZtbFvPzBXCV
    expiresInDays: 2

integration:
  country-state-city:
      apiAuthenticationAlias: X-CSCAPI-KEY
      apiAuthenticationValue: xxx

hashids:
  salt: salt